html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after, input, select, button {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -o-box-sizing: inherit;
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'GothamPro';
    font-size: 14px;
    line-height: 1.3;
    color: #333;
}
input, button {
    font-family: inherit;
    font-size: inherit;
}
ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #333;
    color: currentColor;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.cf {
    zoom: 1;
}
.cf:before,.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear:both;
}

.ax-loading {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    animation: button-spin 1s linear infinite;
    border-color: #2bb24c #2bb24c transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
}
.ax-loading {
    top: 24px;
    left: 24px;
    width: 48px;
    height: 48px;
    border-color: #abd96e #abd96e transparent;
    border-width: 3px;
    animation: button-spin 500ms linear infinite;
    z-index: 100;
}

/*.ax-loading {
    background: rgba(0,0,0,.7);
    border-color: #2bb24c #2bb24c transparent;
    border-width: 4px;
    box-shadow: 0 0 0 3px rgba(0,0,0,.7);
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin: -64px 0 0 -32px;
    animation: button-spin 400ms linear infinite;
}*/



.axfc {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.axfs {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.axs {
    font-size: .85em;
}

.scrollbar-inner {
    overflow-y: scroll;
}
/* Let's get this party started */
.scrollbar-inner::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scrollbar-inner::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}






@keyframes button-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
