
@font-face {
	font-family: 'GothamPro';
	src: url('GothamPro.eot?') format('eot'), 
	     url('GothamPro.otf')  format('opentype'),
	     url('GothamPro.woff') format('woff'), 
	     url('GothamPro.ttf')  format('truetype'),
	     url('GothamPro.svg#GothamPro') format('svg');
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('GothamPro-Bold.eot?') format('eot'), 
         url('GothamPro-Bold.otf')  format('opentype'),
         url('GothamPro-Bold.woff') format('woff'), 
         url('GothamPro-Bold.ttf')  format('truetype'),
         url('GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}
