
<div class="profile-userinfo">
    <img class="profile-userinfo_photo" src="/template/img/photo_dm.png">
    <div>
        <div class="profile-userinfo_welcome">Здравствуйте!</div>
        <div class="profile-userinfo_wish">Чудесно выглядите сегодня!</div>
    </div>
</div>

<div class="profile-tiles">
        <div class="profile-tiles__tile">
            <img src="/template/img/tile_icon_message.png" class="profile-tiles__icon">
            <div>
                Сообщения
                <div class="profile-tiles__sub">2 новых входящих</div>
            </div>
        </div>
        <div class="profile-tiles__tile">
            <img src="/template/img/tile_icon_item.png" class="profile-tiles__icon">
            <div>
                Мои объявления
                <div class="profile-tiles__sub">активных 3</div>
                <div class="profile-tiles__sub">всего 12</div>
            </div>
        </div>
        <div class="profile-tiles__tile">
            <img src="/template/img/tile_icon_notice.png" class="profile-tiles__icon">
            <div>
                Уведомления
                <div class="profile-tiles__sub">14 новый действий</div>
            </div>
        </div>
        <div class="profile-tiles__tile">
            <img src="/template/img/tile_icon_favorite.png" class="profile-tiles__icon">
            <div>
                Избранное
                <div class="profile-tiles__sub">276 объявлений</div>
            </div>
        </div>
</div>

<div class="profile-bloks">
    <div class="profile-bloks__block">
        <h3 class="profile-blok__title">МОИ объявления</h3>
        <div class="profile-items"></div>
        <div class="pblock__status pblock__status_i"></div>
    </div>

    <div class="profile-bloks__block">
        <h3 class="profile-blok__title">ИЗБРАННЫЕ объявления</h3>
        <div class="profile-favorites"></div>
        <div class="pblock__status pblock__status_v"></div>
    </div>
</div>
