
body {
    background: #1b2530;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile-header {
    flex: 0 0 auto;
    background: #283141;
    border-bottom: solid 1px #344056;
    padding: 16px 32px 12px;
    font-size: 13px;
    display: flex;
    align-content: center;
    align-items: center;
    box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.02), 0 2px 26px 0 rgba(0, 0, 0, 0.02);
}
.profile-header__logo {
    margin-top: -4px;
    color: #fff;
    opacity: .4;
    transition: opacity 100ms linear;
}
.profile-header__logo:hover {
    opacity: 1;
}
.profile-header__space {
    flex: 1 0 auto;
}


.pheader__icon {
    background: url(/template/img/aicons.png) no-repeat;
    background-position: -12px 0;
    width: 28px;
    height: 28px;
    margin: 0 1em;
    position: relative;
    cursor: pointer;
}
.pheader__counter {
    position: absolute;
    background: #2978c6;
    right: -.55rem;
    top: -.35rem;
    padding: .2rem .35rem;
    border-radius: 50px;
    text-align: center;
    font-size: .6rem;
    line-height: 1em;
}
.pheader__icon_m {
    background-position: -12px 0;
}
.pheader__icon_n {
    background-position: -12px -28px;
}
.pheader__icon_c {
    background-position: -12px -56px;
}
.pheader__user {
    margin-left: 2em;
    margin-right: 2em;
}

.pheader__iconsvg {
    width: 28px;
    height: 28px;
    cursor: pointer;
    color: #356376;
    transition: color 100ms linear;
}
.pheader__iconsvg:hover {
    color: #fff;
}
.pheader__iconsvg svg {
    width: 28px;
    height: 28px;
}



.profile-main {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.profile-sidebar {
    padding: 42px 42px 42px 32px;
    background: #283141;
    box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.02);
    color: #424a58;
    min-width: 220px;
}
.profile-sidebar__link {
    padding: .8em 0;
    color: #48adce;
    font-size: .95em;
    font-weight: 400;
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 100ms linear;
}
.profile-sidebar__link:hover {
    color: #fff;
    text-decoration: none;
}
.profile-sidebar__link_disabled {
    color: #48adce;
    opacity: 0.4;
    cursor: default;
}
.profile-sidebar__link_disabled:hover {
    color: #48adce;
}


.profile-sidebar__link svg {
    margin-top: -.3em;
    margin-right: .5em;
    width: 1.3em;
    height: 1.3em;
}

.profile-sidebar__link span {
    display: inline-block;
    margin-left: .5em;
    padding: .35em .8em .24em .75em;
    border-radius: 10px;
    background-color: #314c6c;
    color: #fff;
    font-size: .75em;
}

.profile-content {
    flex: 1 1 auto;
    padding: 2.5em 5em 3em 4em;
    /*display: flex;
    flex-direction: column;*/
    overflow-y: auto;
}


.profile-userinfo {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.profile-userinfo_wrapphoto {
    position: relative;
}
.profile-userinfo_photo,
.profile-userinfo_uploadphoto {
    background: #fff;
    width: 96px; height: 96px;
    border: 2px solid #fff;
    border-radius: 100px;
    margin-right: 1.5em;
}
.profile-userinfo_uploadphoto {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    border-color: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    display: none;
}
.profile-userinfo_uploadphoto input {
    display: none;
}
.profile-userinfo_wrapphoto:hover .profile-userinfo_uploadphoto {
    display: flex;
}
.profile-userinfo_welcome {
    letter-spacing: 2px;
    color: #49b7ec;
    font-size: 2.1em;
    font-weight: 400;
    margin-bottom: .2em;
}
.profile-userinfo_wish {
    color: #3f858f;
}






.profile-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -2%;
    margin-bottom: 2em;
}
.profile-tiles__tile {
    margin-right: 2%;
    flex: 1 0 23%;
    background: #1c4971;
    border-radius: 5px;
    padding: 24px 18px 24px 18px;
    cursor: pointer;
    transition: box-shadow 100ms linear, transform 100ms linear;
    display: flex;
    align-content: center;
    align-items: center;
}
.profile-tiles__tile:hover {
    box-shadow: 0 4px 21px rgba(0,0,0,.3);
    /*transform: scale(1.03);*/
    transform: translateY(-2px);
}
.profile-tiles__icon {
    width: 58px;
    height: 58px;
    margin-right: .5em;
}
.profile-tiles__sub {
    color: #bebebe;
    font-size: .79em;
}


.profile-bloks {
    display: flex;
    margin-right: -2%;
}
.profile-bloks__block {
    margin-right: 2%;
    flex: 1 0 48%;
}
.profile-bloks__block:nth-child(1) {
    flex: 1 0 54%;
}
.profile-bloks__block:nth-child(2) {
    flex: 1 0 42%;
}

.profile-blok__title {
    text-transform: uppercase;
    font-size: 1.07em;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}

.pblock__status {
    margin: 1em 0;
    color: #7d7d7d;
    text-align: center;
    cursor: pointer;
}
.pblock__status:hover {
    color: #fff;
}



.profile-item {
    background: #fff;
    border-radius: 6px;
    margin-bottom: .6em;
    color: #5d5d5d;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
}
.profile-item__photo {
    width: 140px;
    height: 110px;
    border-radius: 4px 0 0 4px;
    background-size: cover;
}
.profile-item__param {
    position: absolute;
    left: 0; bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.62));
    width: 140px;
    color: #fff;
    z-index: 1;
    font-size: .9em;
    padding: 1.5em 1em .5em;
    border-radius: 0 0 0 4px;
}
.profile-item__detail {
    flex: 1 0 auto;
    padding: 1em ;
}
.profile-item__price {
    font-size: 20px;
    font-weight: bold;
    color: #5d5d5d;
    margin-bottom: 10px;
}
.profile-item__price_info {
    margin-left: .5em;
    font-size: .5em;
}
.profile-item__metro,
.profile-item__afoot {
    font-size: .85em;
}

.profile-item__actions {
    display: flex;
    align-content: center;
    align-items: center;
}
.profile-item__action {
    display: inline-block;
    margin: 0 .2em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.profile-item__activ,
.profile-item__noactiv {
    margin: 0 1em 0 .2em;
    display: inline-block;
    background: #f75a5a;
    padding: .2em .5em;
    color: #ffffff;
    font-size: .85em;
    white-space: nowrap;
    border-radius: 50px;
}

.profile-item__noactiv {
    background: #d0d0d0;
}




/**/







.additems-hat {
    background: url(/template/img/layer-713.png) center bottom no-repeat;
    background-size: cover;
    height: 200px;
    margin: 0 auto;
    padding: 3em 4em;
    margin-top: -3em;
    max-width: 860px;
}
.additems-hat__title {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: .5em;
}
.additems-hat__sub {
    font-size: .9em;
}


.additems-cards {
    margin: 0 auto;
    max-width: 860px;
    background-color: #283141;
    box-shadow: 0 13px 49px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1em 1.5em;
}

.additems-cards__panel {
    margin-bottom: 2em;
}
.additems-cards__panel,
.additems-cards__buttons {
    display: flex;
}


.additems-cards__tabs {
    position: relative;
    border-right: 4px solid #19303a;
    padding: .5em 0;
    white-space: nowrap;
    flex: 0 0 auto;
}
.additems-cards__tabs::after,
.additems-cards__tabs::before {
    content: '';
    position: absolute;
    right: -40px; top: 0px;
    width: 40px; height: 4px;
    background: #19303a;
}
.additems-cards__tabs::before {
    top: auto;
    bottom: 0px;
}

.additems-cards__tab {
    padding: 1em;
    color: #48adce;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    flex: 0 0 auto;
    transition: color 100ms linear;
}
.additems-cards__tab:hover {
    color: #ffffff;
}

.additems-cards__tab_select {
    background: #19303a;
    color: #ffffff;
}
.additems-cards__cards {
    padding: 1em 1em 1em 1.3em;
    flex: 1 1 auto;
}
.additems-cards__card {
    display: none;
    /* visibility: hidden; */
    /* height: 0; */
    /*opacity: 0;
    transform: translateY(20px);
    transition: transform 100ms linear, opacity 100ms linear, visibility 100ms linear;*/
}
.additems-cards__card_select {
    display: block;
    /* height: auto; */
    /* visibility: visible; */
    /*transform: translateY(0px);
    opacity: 1;
    transition: opacity 100ms linear, visibility 100ms linear;
    z-index: 10;*/
}

.additems-cards__buttons {
    margin-right: -2em;
    margin-bottom: 1em;
}
.additems-cards__button {
    display: block;
    padding: 1.1em 1em;
    margin-right: 2em;
    border-radius: 4px;
    background: radial-gradient(circle at 70% -24%, #abd96e, #60b55e);
    color: #fff;
    width: auto;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
    border: solid 1px transparent;
    flex: 1;
}
.additems-cards__button_fill {
    background: #2a3446;
    border: solid 1px #dddddd;
    color: #ababab;
}



.afield,
.ainput,
.aselect {
    margin-bottom: .5em;
    position: relative;
    color: #000;
}/*
.afield__required {
    color: #ff7e7e;
    position: absolute;
    z-index: 4;
    left: .4em;
    top: .4em;
    font-size: 1.5em;
}*/

.afield__label,
.ainput__label,
.aselect__label {
    left: 0;
    top: 0;
    height: 100%;
    max-width: 180px;
    font-size: .95em;
    position: absolute;
    color: #bebebe;
    z-index: 3;
    padding: 0 .5em 0 1.3em;
    display: flex;
    align-content: center;
    align-items: center;
}
.aselect__input,
.afield .chosen-container-multi .chosen-choices,
.afield .chosen-container-single .chosen-single {
    margin: 0;
    padding: 1em 1em .95em 180px;
    width: 100%;
    height: auto;
    font-size: 1.05em;
    background: #ffffff;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    outline: 0;
    -webkit-appearance: none;
}
.aselect__input:focus,
.afield .chosen-container-active .chosen-choices,
.afield .chosen-container-active .chosen-single {
    box-shadow: 0 0 0 2px #48adce;
}
.afield__right {
    position: absolute;
    right: 1.3em;
    top: .9em;
    font-size: 1.05em;
    z-index: 4;
}

.afield__required::before {
    content: '*';
    width: .7rem;
    margin-left: -.7rem;
    color: #ff7e7e;
    font-size: 1.5rem;
}








.chosen-container {
    font-size: inherit;
}
.afield .chosen-container-multi .chosen-choices {
    padding: .4em 1em .35em 180px;
}
.afield .chosen-container-multi .chosen-choices li.search-choice {
    margin: .2em .5em .2em 0;
    padding: 3px 20px 3px 5px;
    padding: .6em 30px .5em .7em;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #bbb, 0 2px 0 rgba(0, 0, 0, 0.05);
    /*border: 1px solid #aaa;*/
}
.afield .chosen-container-multi .chosen-choices li.search-field input[type=text] {
    margin: .2em 0 .2em 0;
    padding: .6em 0 .5em 0;
    height: auto;
}
.afield .chosen-container .chosen-results li {
    margin: 0;
    padding: .8em 1em .75em;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
}
.afield .chosen-container .chosen-results li.highlighted {
    background: #3875d7;
    color: #fff;
}







.uploadr__button {

}
.uploadr__label {
    position: relative;
    color: #bebebe;
    padding: 0 1.3em;
    margin: 1em 0 .5em;
    font-size: .95em;
}


.uploadr__block {
    vertical-align: text-top;
    position: relative;
	display: inline-block;
	width: 120px;
	height: 80px;
    margin: 0 8px 8px 0;
    padding: 0 10px;
    border: solid 1px #ffffff;
    border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.1);
    background-size: cover;
}
.uploadr__progress {
	background: #fff;
	width: 0px;
	height: 5px;
	margin-top: 38px;
	border-radius: 5px;
	transition: .25s ease-out;
}
.uploadr__cancel {
	position: absolute;
	top: -7px;
	right: -7px;
	width: 22px;
	height: 22px;
	background-color: black;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTS43OTUgMi42MzZMMy4xNTkgNSAuNzk1IDcuMzY0YS4zNTUuMzU1IDAgMCAwIDAgLjUwMmwxLjM0IDEuMzRhLjM1NS4zNTUgMCAwIDAgLjUwMSAwTDUgNi44NGwyLjM2NCAyLjM2NGEuMzU1LjM1NSAwIDAgMCAuNTAyIDBsMS4zNC0xLjM0YS4zNTUuMzU1IDAgMCAwIDAtLjUwMUw2Ljg0IDVsMi4zNjQtMi4zNjRhLjM1NS4zNTUgMCAwIDAgMC0uNTAyTDcuODY1Ljc5NGEuMzU1LjM1NSAwIDAgMC0uNTAxIDBMNSAzLjE2IDIuNjM2Ljc5NWEuMzU1LjM1NSAwIDAgMC0uNTAyIDBsLTEuMzQgMS4zNGEuMzU1LjM1NSAwIDAgMCAwIC41MDF6Ii8+Cjwvc3ZnPgo=);
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
	border-radius: 25px;
	cursor: pointer;
}
.uploadr__block {
}

.uploadr__button {
    vertical-align: text-top;
	display: inline-block;
	width: 100px;
	height: 80px;
	background: rgba(255, 255, 255, 0.1);
    border: solid 1px #584545;
    border-radius: 2px;
	color: #ffffff;
	font-size: 40px;
    line-height: 80px;
	text-align: center;
    cursor: pointer;
}
.uploadr__button:hover {
    background: rgba(255, 255, 255, 0.2);
}



/**/
