
#section-statistic {}

#section-statistic {
    /*background: #f4f4f4;
    background-image: linear-gradient(180deg, #f6f6f6, #e1e1e1);*/
}
#section-statistic .fp-tableCell {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#section-statistic .wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#section-statistic .block {
    background: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    /*flex-basis: 34%;*/
    margin-right: 32px;
/*    height: 100%;*/
    border-radius: 8px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
    padding-top: 29px;
}
#section-statistic .block:last-child {
    margin-right: 0;
}
#section-statistic .block h4 {
    margin: 0;
    padding: 0;
    letter-spacing: 2.3px;
    font-weight: 400;
}
#section-statistic .block .statistic-chart {
    width: 100%;
    height: auto;
}
#section-statistic .block .count {
    padding: 0 0 12px 0;
    font-size: 13px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
}
#section-statistic .block .count span {
    display: block;
    font-size: 36px;
}
#section-statistic .block-users h4 {
    color: #e68383;
}
#section-statistic .block-users .count {
    color: #b2c966;
}
#section-statistic .block-ads h4 {
    color: #71daa4;
}
#section-statistic .block-ads .count {
    color: #6ddfe2;
}
#section-statistic .block-dealings h4 {
    color: #d4bf61;
}
#section-statistic .block-dealings .count {
    color: #e3dd70;
}
#section-statistic .block .buttons {
    margin: 12px 21px;
}

#section-statistic .block button {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.07);
    border: 0 none;
    /*height: 56px;*/
    padding: 7px 12px 8px;
    color: #7d7d7d;
    margin-bottom: 12px;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
}
#section-statistic .block button img {
    margin-right: 6px;
}

#section-statistic .chart-line {
    display: block;
    padding: 8px 0;
    width: 100%;
    overflow: hidden;
}
#section-statistic .chart-line svg {
    display: block;
    min-width: 300px;
    width: 100%;
}


#section-statistic label.period {
    display: inline-block;
    margin: 6px 1px 12px;
    padding: 4px 9px 5px;
    border-radius: 30px;
    background-color: #f7f7f7;
    font-size: 12px;
    color: #bebebe;
    cursor: pointer;
}

#section-statistic input[type=radio] {
    width: 0;
    height: 0;
    display: none;
}
#section-statistic input:checked + label.period {
    background-image: radial-gradient(circle at 70% -24%, #abd96e, #60b55e);
    color: #fff;
}

#section-statistic select {
    display: block;
    margin: 6px 0 12px;
    padding: 8px 12px 9px;
    width: 100%;
    color: #7d7d7d;
    background-color: #ffffff;
    border: solid 1px #ededed;
    outline: 0;
    border-radius: 3px;
}















/**/
