@import "/template/html/edit_profile_dark/fonts.min.css";

.user-profile {
  flex-grow: 1;
}

.top-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 40px 0 0 20px;
  align-items: center;
  align-self: stretch;
  list-style: none;
  button {
    vertical-align: middle;
    width: 180px;
    color: #fff!important;
    background: url('/template/images/combined-shape.svg') no-repeat left 20px center, linear-gradient(135deg, #abd96e, #60b55e);
    background-size: 19px, auto;
    border: none;
    margin: auto 5px;
    cursor: pointer;
    padding: 10px 32px;
    font-size: 12px;
    border-radius: 6px;
    &:hover {
      transition: 1.5s;
      background: url('/template/images/combined-shape.svg') no-repeat left 20px center, linear-gradient(135deg, #60b55e, #abd96e);
      background-size: 19px, auto;
    }
  }
  a {
    border: none;
    margin: auto 5px;
    cursor: pointer;
    padding: 10px 32px;
    background: #203344;
    font-size: 12px;
    border-radius: 6px;
    color: #3d7f87;
  }
}

.active-hash {
  background: #1c4971!important;
  color: #fff!important;
}

.user-all-information {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 40px 20px;
  input {
    position: relative;
    color: #fff;
    width: 100%;
    border: none;
    padding: 10px 0;
    background: none;
    border-bottom: 1px solid #293848;
  }
  input[type=checkbox] {
    position: absolute;
    width: auto;
    right: 0;
    margin: auto;
  }
  label {
    display: block;
    position: relative;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    color: #3d7f87;
  }
  p {
    margin-top: 20px;
    opacity: 0.1;
    font-size: 20px;
    color: #dfdfdf;
  }
  textarea {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    height: auto;
    color: #dfdfdf;
    min-height: 50px;
    resize: none;
    background: 0 0;
    border: 1px solid #293848;
  }
}

.photo {
  position: relative;
  border: 5px solid #fff;
  margin: auto 20px;
  overflow: hidden;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.40);
}

.img-user {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: url("/template/images/aleksandr.png") no-repeat center;
  background-size: cover;
  div {
    position: relative;
  }
}

.repeat, .basket, .vk,
.facebook, .google-plus {
  display: inline-block;
  width: 27.8px;
  height: 27.8px;
  margin: auto 5px;
  border-radius: 100%;
}

.repeat {
  background: url("/template/images/fill-1_2.png") no-repeat center;
  background-size: 80%;
}

.basket {
  background: url("/template/images/combined-shape_4.png") no-repeat center;
  background-size: 80%;
}

.vk {
  background: url("/template/images/vk.svg") no-repeat center #4d638e;
}

.facebook {
  background: url("/template/images/facebook.svg") no-repeat center #3c5a99;
}

.google-plus {
  background: url("/template/images/combined-shape-copy-3.png") no-repeat center #dd4c3e;
}

.subscribe {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  margin-top: 25px;
  a {
    width: 20px;
    height: 20px;
    position: relative;
    margin: auto 5px;
  }
}

.user-data {
  position: relative;
  height: 80vh;
  overflow-y: scroll!important;
}

.fio input {
  color: #47b2e5!important;
}

.bold-text {
  position: relative;
  font-size: 30px;
  padding: 5px 0;
  background: none;
  border: none;
  width: 100%;
}