
    <div class="visitor-statistics">
        <div class="container-w-2">
            <p>Прямо сейчас с нами: Вы и еще<span></span>пользователей
            </p>
            <ul>

            </ul>
            <div class="schedule" id="schedule-all">
                <div class="schedule-interface">
                    <div class="chart-lines">
                        <div id="chart-line-1" class="chart-line" data-chart='{"fill":["#d4e36d","#3ead56"],"data":[479,466,228,251,384,83,500,1346,110,364,391,492,82,247,220,400,67,217,83,441,493,92,296,326,242,356,74,427,183,388]}'></div>
                        <!-- <div id="chart-line-2" class="chart-line" data-chart='{"fill":["#6de0e3","#86ff9a"],"data":[254,459,73,178,324,368,420,62,421,100,483,370,309,138,359,149,418,303,366,434,71,195,158,273,136,75,493,260,380,427]}'></div> -->
                        <!-- <div id="chart-line-3" class="chart-line" data-chart='{"fill":["#e0e36d","#ffab86"],"data":[318,152,228,294,98,173,84,119,331,280,415,77,122,293,215,321,120,254,462,339,309,424,149,285,456,403,257,88,107,454]}'></div> -->
                    </div>
                </div>
                <a data-for="chart-line-3"><span id="yellow"></span>Октябрь</a>
                <a data-for="chart-line-2"><span id="green"></span>Ноябрь</a>
                <a data-for="chart-line-1"><span id="blue"></span>Декабрь</a>
            </div>

        </div>
    </div>


<link rel="stylesheet" href="visitor-statistics.css">
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="visitor-statistics.js"></script>
