@font-face {
    font-family: 'Fedra Sense Pro Bold';
    src: url('../fonts/FEDRASANSPRO_BOLD.otf');
}

@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothaProReg.otf');
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothaProBol.otf');
}