



<div class="menu-user">
    <div class="menu-user-list">
        <div class="axf Rectangle-4 user-info">
            <img src="/template/img/user.png" alt="">
            <div>
                <div class="menu-user-name">Никулин Александр</div>
                <div>Пользователь +</div>
            </div>
        </div>
        <div class="axf Rectangle-4 user-menu-reg">
            <img src="/template/img/no-ava.png" alt="">
            <div>
                <div class="menu-user-name">Вход в систему</div>
                <div>Регистрация</div>
            </div>
        </div>
        <div class="axf Rectangle-4 user-menu-notice"><img src="/template/img/svg/icon-notice.svg" alt="">Уведомления <span class="count">585</span></div>
        <div class="axf Rectangle-4 user-menu-message"><img src="/template/img/svg/icon-message.svg" alt=""> Сообщения <span class="count">5</span></div>
        <div class="axf Rectangle-4 user-menu-plus"><img src="/template/img/svg/icon-plus.svg" alt=""> Дать объявление</div>
    </div>
    <div class="button-show-user-menu button-show-user-menu-close axfc">
        <div class="button-show-user-menu-icon"></div>
    </div>
</div>
