



<div class="menu-user">
    <div class="menu-user-list">
        <div class="axf Rectangle-4 user-info">
            <img src="/template/img/photo_dm.png" alt="">
            <div>
                <div class="menu-user-name">...</div>
                <div class="menu-user-status">Пользователь +</div>
            </div>
            <div class="userinfo__logout" title="Logout"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13"><path fill="currentColor" fill-rule="evenodd" d="M4.252 3.056L7.333 6.11 4.252 9.167V7.13H0V5.093h4.252V3.056zm.026 7.555H9.41v-9H4.278V0H11v12.222H4.278v-1.61z"/></svg></div>
        </div>
        <div class="axf Rectangle-4 user-menu-reg">
            <img src="/template/img/no-ava.png" alt="">
            <div>
                <div class="menu-user-name">Вход в систему</div>
                <div>Регистрация</div>
            </div>
        </div>
        <div class="axf Rectangle-4 user-menu-notice"><img src="/template/img/svg/icon-notice.svg" alt="">Уведомления <span class="count">585</span></div>
        <div class="axf Rectangle-4 user-menu-message"><img src="/template/img/svg/icon-message.svg" alt=""> Сообщения <span class="count">5</span></div>
        <div class="axf Rectangle-4 user-menu-plus"><img src="/template/img/svg/icon-plus.svg" alt=""> Дать объявление</div>
    </div>
    <div class="button-show-user-menu button-show-user-menu-close axfc">
        <div class="button-show-user-menu-icon"></div>
    </div>
</div>
