#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    padding: 4px 0;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    background: rgba(0,0,0,.23);
    border-radius: 30px;
}
#fp-nav ul li {
    display: block;
    width: 16px;
    height: 15px;
    margin: 8px;
    position:relative;
}
#fp-nav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
    border-radius: 100%;
 }
#fp-nav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    border: 0;
    background: #bae173;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span {
    width: 12px;
    height: 12px;
    margin: -6px 0px 0px -6px;
}

#fullpage .section h3 {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 32px;
}


.ax-wrapper {
    width: 1100px;
    margin: 0 auto;
}

#section-login {
    background: #081f35 url("/template/images/section-login.png") 50% 50% no-repeat;
    background-size: cover;
    color: #fff;
}
#section-search {
    position: relative;
}
#section-search .fp-tableCell {
    padding-bottom: 5%;
}
#section-search .header-line {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
}
#section-search .header-line svg {
    opacity: .85;
    transition: opacity 100ms linear;
}
#section-search .header-line a:hover svg {
    opacity: 1;
}
#section-search .header-line .ax-wrapper {
    padding: 14px 12px 6px;
    justify-content: space-between;
}
#section-search .header-line .header-space {

}


#section-ads {
    background: #f4f4f4 url("/template/images/section-ads.jpg") 50% 50% no-repeat;
    background-size: cover;
}
#section-ads .fp-tableCell {
    padding: 32px 0;
}
