
@font-face {
	font-family: 'GothamPro';
    font-weight: 400;
	src: url('GothamPro.eot?') format('eot'), 
	     url('GothamPro.otf')  format('opentype'),
	     url('GothamPro.woff') format('woff'), 
	     url('GothamPro.ttf')  format('truetype'),
	     url('GothamPro.svg#GothamPro') format('svg');
}
@font-face {
    font-family: 'GothamPro';
    font-weight: 500;
    src: url('GothamPro-Bold.eot?') format('eot'), 
         url('GothamPro-Bold.otf')  format('opentype'),
         url('GothamPro-Bold.woff') format('woff'), 
         url('GothamPro-Bold.ttf')  format('truetype'),
         url('GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}
@font-face {
    font-family: 'GothamPro';
    font-weight: 300;
    src: url('GothamPro-Light.eot?') format('eot'), 
         url('GothamPro-Light.otf')  format('opentype'),
         url('GothamPro-Light.woff') format('woff'), 
         url('GothamPro-Light.ttf')  format('truetype'),
         url('GothamPro-Light.svg#GothamPro-Light') format('svg');
}

@font-face {
    font-family: 'PTRouble';
    font-weight: normal;
    src: url('RUBSN.otf')  format('opentype');
}