* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

pre {
    display: block;
    padding: 9px;
    margin: 0 0 10px 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#wrapper {
    margin: 100px auto;
    width: 900px;
    background: grey;
    border: 1px solid black;
}

#navigation {
    width: inherit;
    height: 50px;
}

#navigation li {
    list-style: none;
    float: left;
}

#navigation a {
    padding: 0 20px 0 20px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
}

#navigation li .active {
    color: #000;
    background: #ffffff;
}

#navigation a:hover {
    color: #000;
    background: #ffffff;
}

#content {
    width: 860px;
    padding: 20px;
    min-height: 500px;
    background: #ffffff;
}

input[type=submit] {
    padding: 7px 15px 7px 15px;
}

#loading {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 0;
    top: 0;
    display: none;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;

}

.object {
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-left: 5px solid #FFF;
    border-right: 5px solid #FFF;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
}

#object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

#object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;

}

@-webkit-keyframes animate {

    50% {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

@keyframes animate {

    50% {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}




/* 
*
*
                Новости 
*
*
*/



#inputImageContainer img {
    width: 200px;
}



form.main_editor_form {
    font-family: tahoma, verdana, "sans-serif";
    font-size: 12px;
    padding: 20px;
    border: 1px solid #A5A8B8;

}

.main_editor_form fieldset {
    margin-top: 20px;
    padding : 15px 5px 10px 5px;
    border: 1px solid #B5B8C8;
    

}

.main_editor_form legend {
    font-size: 12px;
    color: #15428B;
    font-weight: 900;
}

.main_editor_form fieldset section {
    float: none;
    text-align: inherit;
    width: auto;
}

.main_editor_form label {
    color: #000;
    display : block;
    margin: 5px;
}

.main_editor_form span {
    color: #000066;
    margin-bottom: 5px;
}
.main_editor_form label span {
    color: #000;
}

.main_editor_form textarea {
    width: 250px;
    height:70px;
    color: #555;
    padding: 4px;
    border: 1px solid #B5B8C8;
    font-size: 14px;
    margin-top: 4px;
    background: #FFF url('/img/form/text-bg.gif') repeat-x;

}

.spoiler_button{
    cursor: pointer;
    color: #FF6816;
}

.spoiler_body
{
    border-top: 1px solid #C3CBD1;
}

#addDynamicField {
    width: 100%;
    float:none;
}

.imgInput {
    display: inline-block;
    float: left;
    width: 220px;
    height: 300px;
    
    margin: 0;
    padding: 0;
    
}

.imgInput_1 {
    
}

.inputfile {
    
}

.DeleteField {
    
}

label.error{
    background: url(../images/unchecked.gif) no-repeat;
    padding-left: 16px;
    margin-left: .3em;
    color: red;
}
label.valid {
    background: url(../images/checked.gif) no-repeat;
    display: block;
    width: 16px;
    height: 16px;   
}


/* Просмотренные новости  */

.last_viewed_news{
    width: 100%;
    height: 150px;
}
.last_viewed_news span a {
    width: 100px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    background-color: #e1e1e1;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

.last_viewed_news span a:hover {
    background-color: #c1c1c1;
}

.last_viewed_news span a img {
    width:100px;
    height: 67px;
    border-radius: 10px;
}
/* 
*
*
                Новости   Конец
*
*
*/