* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

pre {
    display: block;
    padding: 9px;
    margin: 0 0 10px 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#wrapper {
    margin: 100px auto;
    width: 900px;
    background: grey;
    border: 1px solid black;
}

#navigation {
    width: inherit;
    height: 50px;
}

#navigation li {
    list-style: none;
    float: left;
}

#navigation a {
    padding: 0 20px 0 20px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
}

#navigation li .active {
    color: #000;
    background: #ffffff;
}

#navigation a:hover {
    color: #000;
    background: #ffffff;
}

#content {
    position: relative;
    width: 860px;
    padding: 20px;
    min-height: 500px;
    background: #ffffff;
}

input[type=submit] {
    padding: 7px 15px 7px 15px;
}

#loading {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 0;
    top: 0;
    display: none;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;

}

.object {
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-left: 5px solid #FFF;
    border-right: 5px solid #FFF;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
}

#object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

#object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;

}

@-webkit-keyframes animate {

    50% {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

@keyframes animate {

    50% {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

.button {
    display: inline-block;
    color: #FFFFFF;
    line-height: 40px;
    padding: 0 20px 0 20px;
    margin-bottom: 15px;
    background: gray;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    border: solid 1px gray;
}

.button:hover {
    color: gray;
    background: #FFFFFF;
}

h1 {
    margin-bottom: 15px;
}

.ticket {
    position: relative;
    padding: 15px 15px 0 15px;
    border: dotted 1px black;
    margin-bottom: 15px;
}

.ticket_answer {
    background: rgba(24, 97, 20, 0.3);;
}

.ticket_close {
    background: rgba(0, 0, 0, 0.1);
}

.ticketName {
    width: 80%;
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 15px;
}

.ticketContent {
    margin-bottom: 15px;
    width: 600px;
}

.createDate {
    position: absolute;
    top: 15px;
    right: 15px;
}

.ticketStatus {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.answer_message {
    color: #942a25;
    position: absolute;
    right: 15px;
    bottom: 35px;
    font-weight: bold;
}

.dialogInfo {
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
    width: 100%;
    border: solid 1px black;
    margin-bottom: 15px;
}

.box {
    margin-bottom: 15px;
    padding: 15px;
    border: dotted 1px gray;
}

.dialog {
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 15px;
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
    background: #f1f1f1;
    border: solid 1px #f1f1f1;
}

.dialog_msg {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
}

.dialog_msg_name {
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 15px;
}

.dialog_msg_date {
    margin-bottom: 15px;
}

textarea {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 4px;
    margin-bottom: 15px;
}

